.navbar-body {
  /* From https://css.glass */
  width: 100%;
  background: rgba(21, 17, 55, 0.74);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid rgba(21, 17, 55, 0.3);
}

.header-logo {
  width: 240px;
  height: auto;
  cursor: pointer;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

.header-menu li {
  list-style: none;
}

.header-menu li a {
  font-family: Libre Franklin;
  text-decoration: none;
  color: #02050e;
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  border-radius: 30px;
}

.header-menu li a:hover {
  color: #fff;
  background: #003fbf;
  border-radius: 30px;
  font-weight: 600;
  padding: 15px 30px;
  width: 100%;
  transition: 0.5s;
}

.header-main button {
  float: right;
  font-family: Libre Franklin;
  border: 2px solid #003fbf;
  color: #003fbf;
  border-radius: 8px;
  background: transparent;
  font-size: 18px;
  width: 140px;
  padding: 7px 0;
  cursor: pointer;
  font-weight: 600;
  outline: 0;
  transition: width 0.2s ease-in, height 0.2s ease-in, transform 0.2s ease-in;
}

.header-main button:hover {
  outline: 0;
  background: #003fbf;
  border: 2px solid #003fbf;
  color: #fff;
  transform: scale(0.95);
}

.header-main button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.header-main button span:after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  transition: 0.5s;
  filter: invert();
}

.header-main button:hover span {
  padding-right: 25px;
}

.header-main button:hover span:after {
  opacity: 1;
  right: 0;
}

.nav-items {
  justify-content: center;
  align-items: center;
  color: white !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  padding: 0 20px 0 20px;
  padding-bottom: 12px;
}
.nav-item.dropdown{
  padding-bottom: 12px;
}
.nav-item.dropdown:hover{
  color: rgb(0, 154, 222);
}
.nav-items.text-center.navbar-nav .navbar-nav:hover {
  color: rgb(0, 154, 222);
}
.nav-items.text-center.navbar-nav .navbar-nav.active{
  border-bottom: 3px solid rgb(0, 154, 222);
  color: rgb(0, 154, 222);
  padding-bottom: 12px;
}